<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Members only', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link d-inline p-2' %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary d-inline p-2'%>
      <% else %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <span class="navbar-text">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link'%>
          </span>

          <span class="navbar-text">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'%>
          </span>
      <% end %>
    </div>
  </div>
</nav>