</div>
    <div style="text-align: center">
        <h1>Posts</h1>
        <%#= button_to 'New Post', new_post_path, :class => "btn btn-primary btn-sm"%>
        <%= link_to 'New Post', new_post_path, :class => "btn btn-primary btn-sm mb-2" %>
    </div>
    <% @posts.each do |post| %>
        <div class="card mb-3 mx-auto" style="width: 35rem;">
            <div class="card-body">
                <% if user_signed_in? %>
                    <h6 class="card-subtitle mb-2 text-muted"><%= post.author %></h6>
                <% end %>
                <p class="card-text"><%= post.body %></p>
                <% if user_signed_in? && current_user.email == post.author %>
                        <%= link_to 'edit', edit_post_path(post), :class => "btn btn-primary btn-sm" %>
                        <%= button_to 'delete', post_path(post), method: :delete, data: { confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm mt-2" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

